/* GENERAL */

* { box-sizing: border-box; }

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: 'Arial', sans-serif;
}

/* HEADER & NAV */

header {
  color: #ffffff; /* white */
  background-color: #03a3df; /* light blue */
}

/* BODY & MISC */

li { list-style-type: none; }

/* FOOTER */

footer {
  background-image: url('../images/footerImage.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff; /* white */
}
